{% extends "BasePage.html" %}

{% load static %}

{% block content %}

     <a href="{% url 'List_view' %}"><img src="{% static 'images/img1.png' %}"></a>
     <p>
     <a href="/AddItem/" >추가</a>
     <br>
     <form method="GET" action="{% url 'Search_view' %}">
         {% csrf_token %}
         <input name="search" type="text">
         <input type="submit" value="검색">
     </form>
     <br>

    {% if data %}
       <table border="1">
            <th> id </th>
            <th> 제목 </th>
            <th> 내용 </th>
            <th> 생성일 </th>
            <th> 수정일 </th>

            {% for i in data %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td><a href="/DetailItem/{{ i.id }}/" >{{ i.sTitle }}</a></td>
                    <td>{{ i.sContent }}</td>
                    <td>{{ i.dCreated }}</td>
                    <td>{{ i.dUpdated }}</td>
                </tr>
            {% endfor %}

        </table>
    {% endif %}

{% endblock content %}