{% extends 'BasePage.html' %}

{% block title %}게시판 쓰기{% endblock %}

{% block contents %}

    <div class="container">
       <form method="POST" enctype="multipart/form-data">
           {% csrf_token %}
           <table class="table table-bordered table-sm" >
               <tr><td>제목</td><td><input class="form-control" type="text" name="sTitle"></td></tr>
               <tr><td>내용</td><td><textarea class="form-control" rows="5" cols="100" name="sContent"></textarea></td></tr>
               <tr><td>이미지</td><td><input id="iImage" type="file" name="iImage"></td></tr>
               <tr><td colspan="2" style="text-align: right;"><input class="btn btn-primary btn-sm" type="submit" value="글쓰기"></td></tr>
           </table>
       </form>
    </div>

{% endblock %}