{% extends 'BasePage.html' %}

{% block content %}

    {% for i in data %}
         <p>제목: {{i.sTitle}}</p>
         <p>생성일: {{i.dCreated}}</p>
         <p>내용: {{i.summary}}</p>
         <p><a href="/DetailItem/{{ i.id }}/" >세부내용</a></p>
    {% endfor %}

    {% if data.has_previous %}
        <a href="?page=1">처음</a>
        <a href="?page={{data.previous_page_number}}">이전</a>
    {% endif %}

    <span>{{data.number}}</span>
    <span> / </span>
    <span>{{data.paginator.num_pages}} </span>

    {% if data.has_next %}
        <a href="?page={{data.next_page_number}}">다음</a>
        <a href="?page={{data.paginator.num_pages}}">마지막</a>
    {% endif %}

{% endblock %}