<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>ListPage</title>
</head>

{% load static %}

<body>
      {% for i in data  %}
            <ul>
                <li><a href="/DetailItem/{{ i.id }}/" >{{ i.sTitle }}</a</li>
            </ul>
      {% endfor %}

      <button><a href="/AddItem/" >추가</a></button>
      <br>
      <form method="GET" action="{% url 'Search_view' %}">
         {% csrf_token %}
         <input name="search" type="text">
         <input type="submit" value="검색">
      </form>
      <br>
      <a href="{% url 'List_view' %}"><img src="{% static 'images/img1.png' %}"></a>
      <br>
      <a href="{% url 'List_view' %}"><img src="{% static 'images/img2.png' %}"></a>
      <br>
</body>
</html>