<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>CreatePage</title>
</head>
<body>
     <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        제목<br>
        <input type="text" name="sTitle" value={{data.sTitle}}><br>
        내용<br>
        <textarea rows="10" cols="50" name="sContent">{{data.sContent}}</textarea><br>
        <input id="iImage" type="file" name="iImage"><br>
        <input id="iImage1" type="hidden" name="iImage1" value={{data.iImage}}>
        <input type="submit" value="수정">
    </form>
</body>
</html>