{% extends 'BasePage.html' %}

{% block contents %}
    <div class>
        <h1>회원가입</h1>
        <form method= 'POST' action ="{% url 'addUser' %}">
            {% csrf_token %}
            아이디:
            <br>
            <input name="user_id" type="text" value="">
            <br><br>
            비밀번호1:
            <br>
            <input name="user_password1" type="password" value="">
            <br><br>
            비밀번호2:
            <br>
            <input name="user_password2" type="password" value="">
            <br>
            <input type="submit" value="계정 생성">
        </form>
    </div>
{% endblock %}