<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            게시판
        {% endblock title %}
    </title>
</head>

{% load static %}

<body>

    <a href="{% url 'List_view' %}"><img src="{% static 'images/img1.png' %}"></a>
    <ul>
        <li><a href="{% url 'Add_view' %}">글쓰기</a></li>
        <li><a href="{% url 'addUser' %}">회원가입</a></li>
        <li><a href="{% url 'login' %}">로그인</a></li>
        <li><a href="{% url 'logout' %}">로그아웃</a></li>
    </ul>

    {% block contents %}
    {% endblock %}

</body>