{% extends 'BasePage.html' %}

{% block contents %}
    <body>
          <div>
              <form method="POST" enctype="multipart/form-data">
                   {% csrf_token %}
                   제목
                   <br>
                   <input type="text" name="sTitle">
                   <br><br>
                   내용
                   <br>
                   <textarea cols=40 rows=10 name="sContent"></textarea>
                   <br><br>
                   이미지
                   <br>
                   <input id="iImage" type="file" name="iImage">
                   <br><br>
                   <input type="submit" value="저장">
              </form>
          </div>
    </body>
{% endblock %}