{% extends 'BasePage.html' %}

{% block contents %}
<body>

    {% for i in data %}
    <div>
        <div>
            <div>
              제목: {{i.sTitle}}<br>
              생성일: {{i.dCreated}}<br>
              수정일: {{i.dUpdated}}<br>
              내용: {{i.summary}}<br>
              <a href="{% url 'Detail_view' i.id %}">세부내용</a>
            </div>
        </div> <br>
    </div>
    {% endfor %}
    <br>
    <form method="GET" action="{% url 'Search_view' %}">
        {% csrf_token %}
        <input name="search" type="text">
        <input type="submit" value="검색">
    </form>
</body>
{% endblock %}