{% extends 'BasePage.html' %}

{% block contents %}

   <h1>로그인</h1>
   <form method= 'POST' action ="{% url 'login' %}">
        {% csrf_token %}
         <table style="width:90%" border="1">
             <tr><td>아이디</td><td><input name="user_id" type="text" value=""></td></tr>
             <tr><td>비밀번호</td><td><input name="user_password" type="password" value=""></td></tr>
             <tr><td colspan="5" style="text-align: center;"><input type="submit" value="로그인"></td></tr>
         </table>
   </form>

{% endblock %}